* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
  }

  body{
    background-color: black;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img{
    height: 500px;
  }

  button{
    width: 150px;
    height: 40px;
    background-color: black;
    color: white;
  }

  .product-card{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 500px;
  }

  .right-info-col{
    padding: 20px;
  }

  .price {
    font-size: 32px;
  }